body{
margin: 0px;
padding: 0px;
background-color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-left: 10px;

}

#icon{
    width: 60px;
    height: 60px;
    padding-right: 10px;

}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links{

    padding-right: 10px;
}

#noticias{ 

    text-align: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.noticia{
     background-color: black;
    color: white;
    border: 2px solid #333;
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.img_noticia{
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 10px;
}
 
#gifcanto {
    position: fixed;      
    bottom: 20px;       
    right: 20px;         
    width: 300px;         
    z-index: 1000;        
}
