body{
margin: 0px;
padding: 0px;
background-color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-left: 10px;

}

#icon{
    width: 60px;
    height: 60px;
    padding-right: 10px;

}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links{

    padding-right: 10px;
}

#noticias{ 

    text-align: center;
    justify-content: space-around;
    padding: 6px;
    display: flex;
}

.noticia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    border: 4px solid black;
    border-radius: 15px;


}

.img_noticia{
width: 300px;
height: 200px;

}
